<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Fragment Head -->
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${title}">Demo Drop Login</title>
    <!--  favicons  -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
    <link rel="manifest" href="/static/favicons/site.webmanifest">
    <!--  stylesheets  -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
</head>

<!-- Fragment: Header -->
<div><img src="/static/Images/hexagonlogo.png" height="20" alt="HEXAGON" th:fragment="header-logo"></div>

<!-- Fragment: Footer -->
<footer class="section-center" th:fragment="footer">
    <img src="/images/dondiablologo.png" alt="Logo Don Diablo" width="90">
</footer>