<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit password</title>
   <link rel="stylesheet" href="/bo/bo-style.css">
   <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="class= text-logo">
            <img src="/Images/hexagonlogo.png" height="20" alt="HEXAGON">
        </div>
    </header>

    <!-- edit password -->
    <main>
        <!-- alert message -->
        <div class="alert-message" th:if="${param.error != null}">
            wrong password
        </div>
        <!-- alert message -->
        <div class="alert-message" th:if="${param.error != null}">
            Passwords dont match
        </div>
        <!-- alert message [deletable if hard. frontend html could take care]-->
        <div class="alert-message" th:if="${param.error != null}">
            Password must be 8 characters long
        </div>
        
        <form action="PUT">
            <p class="form-text">Password</p>
            <input type="password" name="password">
            <p class="form-text">New Password</p>
            <input type="password"  placeholder="Must have at least 8 characters" name="newPassword">
            <p class="form-text">Confirm Password</p>
            <input type="password" name="comfirmPassword">

            <!-- save button (submit = redirect to dashboard) -->
            <input type="submit" value="EDIT PASSWORD" class="button">

            <!-- cancel button -->
            <div class="underlined-text">
                <a href="/bo/a_dashboard.html"><u>Cancel</u></a>
            </div>
        </form>
    </main>

    <!-- logout -->
    <div class="top-right-container">
        <p>ADMIN</p>
        <div class="underlined-text">
            <a href="/bo/login.html"><u>Logout</u></a>
        </div>
    </div>
     
    <footer>
        <a href="/bo/a_dashboard.html"><img src="/Images/dondiablologo.png" alt="Logo Don Diablo" width="72"></a>
    </footer>
       
</body>
</html>