<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demo Drop Activation</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <!-- social media icons -->
        <div class="social-media-icons">
            <a href="https://www.facebook.com/HexagonHQ/"><img src="/Images/1. Socials icons/facebook.png" alt="" width="35"/></a>
            <a href="https://www.instagram.com/hexagonhq/"><img src="/Images/1. Socials icons/instagram.png" alt="" width="35"/></a>
            <a href="https://twitter.com/hexagonhq"><img src="/Images/1. Socials icons/twitter.png" alt="" width="35"/></a>
            <a href="https://soundcloud.com/hexagon"><img src="/Images/1. Socials icons/soundcloud.png" alt="" width="35"/></a>
            <a href="https://www.youtube.com/hexagon"><img src="/Images/1. Socials icons/youtube.png" alt="" width="35"/></a>
        </div>
    <!-- HeaderLogo -->
    <div class="text-logo">
        <img src="/images/hexagonlogo.png" height="20" alt="HEXAGON">
    </div>
    </header>

    <nav class="homepage-navbar">
            <div class="hamburger-menu" onclick="hideAndShow()">
                <svg width="28" height="24">
                    <g fill="none" stroke="white" stroke-width="5">
                        <path d="M0,5 30,5"/>
                        <path d="M0,14 30,14"/>
                        <path d="M0,23 30,23"/>
                    </g>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
        <ul id="ul">
            <li><a href="https://www.hexagonhq.com/home">HOME</a></li>
            <li><a href="https://www.hexagonhq.com/news">NEWS</a></li>
            <li><a href="https://www.hexagonhq.com/releases">MUSIC</a></li>
            <li><a href="https://www.hexagonhq.com/videos">VIDEOS</a></li>
            <li><a href="https://www.hexagonhq.com/radio">RADIO</a></li>
            <li><a href="https://shop.dondiablo.com/collections/hexagon">SHOP</a></li>
            <li><a href="/demodrop">DEMO DROP</a></li>
            <li><a href="https://www.hexagonhq.com/wallpapers">WHALLPAPERS</a></li>
            <li><a href="https://www.hexagonhq.com/contact">CONTACT</a></li>
        </ul>
    </nav>

    <!-- DEMO DROP -->
    <h1 class="heading">ACTIVATION COMPLETED</h1>

    <main>
        <p>welcome to Hexagons demo drop system. Your account has been succesfully activated!</p>
        <p>click <a href=login.html"><u>here</u></a> to proceed to login</p>
    </main>

    <!-- space --><div style= "display: block; margin-bottom: 60px;"></div>
    
    <footer>
            <img src="/images/dondiablologo.png" alt="Logo Don Diablo" width="72">
    </footer>
    
    <!-- Script to open and close the navbar -->
    <script>
        function hideAndShow() {
          var x = document.getElementById('ul');
          if (x.style.display === 'none') {
            x.style.display = 'block';
          } else {
            x.style.display = 'none';
          }
        }
    </script>

</html>