<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
</head>
<body style="margin-top: 40px">
    <div class="sticky-header section-center">
        <header>
            <img src="/images/hexagonlogo.png" height="20" alt="HEXAGON">
        </header>

        <!-- top section - sticky header -->
        <main class="top-section">
             <!-- settings button -->

            <div class="settings-button">
                <a href="/user-side/authorized/settings"><img src="/images/settingsbutton.svg" width="20"></a>
            </div>

            <!--profile section-->
            <div>
                <img class="img" th:src="${user.profileImage}" >
            </div>
            <h1 class="artist-name" th:text="${user.artistName}">DJ CHRISTOPHER</h1>

            <!-- Drop Demo button -->
            <a href="/user-side/authorized/dropdemo" ><button class="button button-a">DROP DEMO</button></a>
        </main>
    </div>

    <!-- space -->
    <div style= "display: inline-block; margin-bottom: 50px;"></div>

    <!-- FIX horizontal separator -->
    <div style="border-top: 1px solid white; width: 100%;"></div>
    
    <!-- space -->
    <div style= "display: inline-block; margin-bottom: 50px;"></div>

    <!-- bottom section -->
    <div class="section-center">
        <div class="demo-list" th:each="demo: ${demos}">
            <div class="demo-component">
                <!-- thymeleaf if-statement (reviewed = true), show afbeelding (css justify in div) -->
                <img src="/images/z. For white background/i_dondiablologo.png" height="15">
                <a style="color: black;" th:href="@{'/user-side/authorized/demo/' + ${demo.id}}" th:text="${demo.title}"> Title Demo</a>
            </div>
        </div>
    </div>
    
    <!-- space -->
    <div style= "display: inline-block; margin-bottom: 50px;"></div>


    <footer>
        <img src="/images/dondiablologo.png" alt="Logo Don Diablo" width="90">
        
        <!-- logout -->
        <form class="upper-corner" method="POST" th:action="@{/logout}">
            <button style="all: unset; cursor: pointer"> <u>logout</u> </button>
        </form>
    </footer>

    <!-- space --><div style= "display: inline-block; margin-bottom: 50px;"></div>
</body>
</html>