<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demo Drop</title>
   <link rel="stylesheet" href="/css/style.css">
   <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
</head>
<body>
    <header class="section-center" style="">
        <div class="" style="width: 100%;">
            <img src="/images/hexagonlogo.png" height="20" alt="HEXAGON">
        </div>
        <div class="settings-button">
            <a href="/dashboard.html" ><img src="/images/back.png"></a>
        </div>
        <h1 class="heading">DEMO DROP</h1>
    </header>

    <!-- space -->
    <div style= "display: inline-block; margin-bottom: 50px;"></div>

    <main class="section-center " style="">

        <!-- select file button -->
        <div class="">
            <input type="file" id="file" hidden="hidden"/>
            <button type="button" id="button" class="button" style="min-width: 40%; width: 200px; height: 40px;">SELECT FILE</button>
            <span style="display: block; margin-top: 20px;" id="filename">No file chosen</span>
        </div>
        
        <!-- space -->
        <div style= "display: inline-block; margin-bottom: 40px;"></div>

        <!-- demo drom form -->
        <div class="login-form" style="margin: 0px" >
            <form action="#">
                <p class="form-text">Title Demo</p> <!-- max characters: 45 -->
                <input type="text" placeholder="Please dont include your artistname, We have it ;) [max 45 char.]" name="titleDemo">
                
                <p class="form-text">Description</p> <!-- hard coded restriction: max 300 char. (dont let frontend know) -->
                <textarea rows="10" cols="22" name="Description" placeholder="Type here what you want to let us know about this track (max 350 char.)" th:text></textarea>
                
                <input class="button section-center" style="margin-top: 40px;" type="submit" value="SUBMIT">
            </form>
        </div>
    </main>

    <!-- space -->
    <div style= "display: inline-block; margin-bottom: 50px;"></div>
    
    <footer class="section-center">
        <img src="/images/dondiablologo.png" alt="Logo Don Diablo" width="90">
    </footer>

    <!-- flashatt. th: true Popup attribute -->
<!--    -->
<!--    <div class="popup" th:if="${maxReached}">-->
<!--        <div class="section-center popup-content">-->
<!--            <h2>Demo drop is currently unavailable...</h2>-->
<!--            <p>You have reached the maximum amount of demos in review. Please wait until our team has handled one of your demo's.</p>-->
<!--            &lt;!&ndash; space &ndash;&gt;<div style= "display: block; margin-bottom: 50px;"></div>-->
<!--            <div>-->
<!--                <a href="/dashboard"><button class="button">Go back</button></a>-->
<!--            </div>-->
<!--            &lt;!&ndash; space &ndash;&gt;<div style= "display: block; margin-bottom: 20px;"></div>-->
<!--            <img src="/images/dondiablologo.png" alt="Logo Don Diablo" width="72">-->
<!--            &lt;!&ndash; space &ndash;&gt;<div style= "display: block; margin-bottom: 20px;"></div>-->
<!--        </div>-->
<!--    </div>-->

    <script type="text/javascript">
        const file = document.getElementById("file");
        const button = document.getElementById("button");
        const filename = document.getElementById("filename");

        button.addEventListener("click", function(){
            file.click();
        });

        file.addEventListener("change", function(){
            if (file.value){
                filename.innerHTML = file.value.match(/[\/\\]([\w\d\s\.\-\(\)]+)$/)[1]; //"to remove fake-path String"
            } else {
                filename.innerHTML = "No file chosen";
            }
        });
    </script>
</body>
</html>