<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demo Drop Register</title>
   <link rel="stylesheet" href="/css/style.css">
   <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <!-- social media icons -->
        <div>
            <div class="social-media-icons">
                <a href="https://www.facebook.com/HexagonHQ/"><img src="/images/1. Socials icons/facebook.png" alt="" width="35"/></a>
                <a href="https://www.instagram.com/hexagonhq/"><img src="/images/1. Socials icons/instagram.png" alt="" width="35"/></a>
                <a href="https://twitter.com/hexagonhq"><img src="/images/1. Socials icons/twitter.png" alt="" width="35"/></a>
                <a href="https://soundcloud.com/hexagon"><img src="/images/1. Socials icons/soundcloud.png" alt="" width="35"/></a>
                <a href="https://www.youtube.com/hexagon"><img src="/images/1. Socials icons/youtube.png" alt="" width="35"/></a>
            </div>
        </div>

        <!-- space -->
        <div style= "display: inline-block; margin-bottom: 25px;"></div>
        
        <!-- HeaderLogo -->
        <div class=""><img src="/images/hexagonlogo.png" height="20" alt="HEXAGON"></div>
    </header>

    <nav class="homepage-navbar left-align">
        <div class="hamburger-menu" onclick="hideAndShow()">
            <svg width="28" height="24">
                <g fill="none" stroke="white" stroke-width="5">
                    <path d="M0,5 30,5"/>
                    <path d="M0,14 30,14"/>
                    <path d="M0,23 30,23"/>
                </g>
                Sorry, your browser does not support inline SVG.
            </svg>
        </div>
        <ul id="ul">
            <li><a href="https://www.hexagonhq.com/home">HOME</a></li>
            <li><a href="https://www.hexagonhq.com/news">NEWS</a></li>
            <li><a href="https://www.hexagonhq.com/releases">MUSIC</a></li>
            <li><a href="https://www.hexagonhq.com/videos">VIDEOS</a></li>
            <li><a href="https://www.hexagonhq.com/radio">RADIO</a></li>
            <li><a href="https://shop.dondiablo.com/collections/hexagon">SHOP</a></li>
            <li><a href="/demodrop">DEMO DROP</a></li>
            <li><a href="https://www.hexagonhq.com/wallpapers">WHALLPAPERS</a></li>
            <li><a href="https://www.hexagonhq.com/contact">CONTACT</a></li>
        </ul>
    </nav>

    <!-- login link-->
    <div style="position: absolute; right: 8%; top: 100px;">
        <a href="login"><u>login</u></a>
    </div>

    <main>
        <!-- DEMO DROP -->
        <h1 class="heading">DEMO DROP</h1>
        
        <div class="login-form">
            <!-- form -->
            <form action="/register/submit">
                <p class="form-text">Name</p>
                <input type="text" maxlength="20" name="name">
                <p class="form-text">Last name</p>
                <input type="text" maxlength="30" name="lastName">
                <p class="form-text">Artististname</p>
                <input type="text" maxlength="20" name="artistName">
                <p class="form-text">Email</p>
                <input type="text" maxlength="50" name="email">
                <p class="form-text">Password</p>
                <input type="password" minlength="8" placeholder="must be at least 8 characters long" name="password">
                <p class="form-text">Confirm Password</p>
                <input type="password" name="surName">
                <p class="form-text">Tell something about yourself</p> <!-- max 350 char -->
                <textarea maxlength="350" rows="10" cols="22" placeholder="I like coockies" name="bio"></textarea>
                
                <!-- terms and conditions -->
                <p><input type="checkbox" required>Terms and Conditions</p>
                
                <!-- register button -->
                <input type="submit" value="Register" id="registerButton" class="button">
            </form>
        </div>
    </main>


    <!-- flashatt. th: true Flash attribute -->
    <div id="popup">
        <div class="section-center popup-content">
        <h2>Thanks for signing up!</h2>
        <p>Please check your email to complete the activation</p>
        <!-- space --><div style= "display: block; margin-bottom: 50px;"></div>
        <div>
            <a href="/"><button class="button">Login</button></a>
        </div>
        <!-- space --><div style= "display: block; margin-bottom: 20px;"></div>
        <img src="/images/dondiablologo.png" alt="Logo Don Diablo" width="72">
            <!-- space --><div style= "display: block; margin-bottom: 20px;"></div>
        </div>
    </div>

    <footer>
            <img src="/images/dondiablologo.png" alt="Logo Don Diablo" width="90">
    </footer>

    <!-- Script to open and close the navbar -->
    <script>
        function hideAndShow() {
          var x = document.getElementById('ul');
          if (x.style.display === 'none') {
            x.style.display = 'block';
          } else {
            x.style.display = 'none';
          }
        }
    </script>
</body>
</html>