<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Your Message Subject or Title</title>
</head>
<body>
<h1>User Activation Demodrop system</h1>
<p th:text="|Dear ${user.getName()}|">Dear Username</p>
<p>Thank you for signing up at our Demo drop-system.</p>
<p>Please click on <a th:href="${baseURL} + '/user-side/activate/' + ${user.getEmail()} + '/' + ${user.getActivationCode()}">this link</a> to activate your account.</p>

<p>We're waiting to hear from you!</p>
<p>Greetings Team Hexagon!</p>
</body>
</html>