<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Team Hexagon</title>
</head>
<body>
<h1>Demo Drop System Welcome</h1>
<p th:text="|Dear ${user.getName()}|">Dear Username</p>
<h1>Welcome to your new favorite site.</h1>
<p>Please take a regular visit to our site to check on everything regarding your uploads.</p>

<p>If we have an urgent message for you, we still got your mail.</p>

<p>Greetings, Team Hexagon</p>
<a href="http://localhost:8080/">click here to login</a>
</body>
</html>