<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
   <link rel="stylesheet" href="/css/bo-style.css">
   <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
</head>
<body>
    <header class="section-center">
        <!-- HeaderLogo -->
        <div class="text-logo">
            <img src="/images/hexagonlogo.png" height="20" alt="HEXAGON">
        </div>
        <!-- logout -->
        <div class="upper-corner">
            <a href="/admin/login"><u>Logout</u></a>
        </div>
        <h1 class="h1">BACK OFFICE</h1>
    </header>

    <!-- space -->
    <div style= "display: block; margin-bottom: 50px;"></div>

    <main class="section-center">
        <div>
            <h2 class="h2">LOGGED IN:</h2>
            <p th:text>ADMIN</p>
        </div>

        <!-- space -->
        <div style= "display: inline-block; margin-bottom: 50px;"></div>

        <!-- blocks -->
       <div class="blocks-container">
            <a href="/admin/set-texts" class="block1">SET SYSTEM TEXTS</a>
            <a href="/admin/user-management" class="block2-3">USER MANAGEMENT</a>
            <a href="/admin/bo-management" class="block2-3">BACKOFFICE MANAGEMENT</a>
       </div>
    </main>

    <!-- space -->
    <div style= "display: inline-block; margin-bottom: 150px;"></div>

    <footer class="section-center">
            <img src="/images/dondiablologo.png" alt="Logo Don Diablo" width="90">
    </footer>

    <!-- edit password -->
    <div class="section-center">
        <div class="upper-corner" style="top: 0px;">
            <a href="/admin/edit-password"><u>Edit Password</u></a>
        </div>
    </div>

    <!-- space -->
    <div style= "display: inline-block; margin-top: 40px;"></div>
</body>
</html>