<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit password</title>
   <link rel="stylesheet" href="/css/bo-style.css">
   <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
</head>
<body style="margin-top: 60px;">
    <header class="section-center">
        <!-- logout -->
        <div class="upper-corner">
            <p th:text style="display: inline;">ADMIN</p>
            <a href=bo/login.html"><u>Logout</u></a>
        </div>
        <!-- headerLogo -->
        <div class="">
            <img src="/images/hexagonlogo.png" height="20" alt="HEXAGON">
        </div>
    
    </header>

    <!-- space -->
    <div style= "display: block; margin-bottom: 15px;"></div>

    <div class="section-center">
        <!-- navbar elements -->
        <nav class="admin-navbar">
            <ul id="ul">
                <li><a href=bo/a_set-texts.html"style="color: #707070;">SET SYSTEM TEXTS</a></li>
                <li><a href=bo/tables/a_user-management.html">USER MANAGEMENT</a></li>
                <li><a href=bo/tables/a_bo-management.html">BACKOFFICE MANAGEMENT</a></li>
            </ul>
        </nav>
        <h1 class="heading"> EDIT PASSWORD </h1>
    </div>
    
    <!-- space -->
    <div style= "display: inline-block; margin-bottom: 60px;"></div>

    <!-- edit password -->
    <main class="section-center login-form">
        
        <!-- alert message -->
        <div class="alert-message" th:if="${param.error != null}">
            Wrong password
        </div>
        <!-- alert message -->
        <div class="alert-message" th:if="${param.error != null}">
            New passwords dont match
        </div>
        
        <form action="PUT">
            <p class="form-text">Password</p>
            <input type="password" name="password">
            <p class="form-text">New Password</p>
            <input type="password"  placeholder="Must have at least 8 characters" name="newPassword">
            <p class="form-text">Confirm Password</p>
            <input type="password" name="comfirmPassword"> <br><br><br>

            <!-- save button (submit = redirect to dashboard) -->
            <div>
                <input type="submit" value="EDIT PASSWORD" class="button">
            </div>

            <!-- space -->
            <div style= "display: block; margin-bottom: 15px;"></div>
            
            <!-- cancel button -->
            <a href=bo/a_dashboard.html"><u>Cancel</u></a>
        </form>
    </main>
    
    <!-- space -->
    <div style= "display: block; margin-bottom: 50px;"></div>

    <footer>
        <a href=bo/a_dashboard.html">
            <img src="/images/dondiablologo.png" alt="Logo Don Diablo" width="90">
        </a>
    </footer>
       
</body>
</html>