<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit password</title>
   <link rel="stylesheet" href="/css/bo-style.css">
   <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
</head>
<body style="margin-top: 60px;">
    <header class="section-center">
        <!-- logout -->
        <div class="upper-corner">
            <p th:text style="display: inline;">ADMIN</p>
            <form style="display: inline" method="POST" th:action="@{/admin-side/authorized/logout}">
                <button style="all: unset; cursor: pointer"> <u>Logout</u> </button>
            </form>
        </div>
        <!-- headerLogo -->
        <div class="">
            <a href="/admin-side/authorized/dashboard">
                <img src="/images/hexagonlogo.png" height="20" alt="HEXAGON">
            </a>
        </div>
    
    </header>

    <!-- space -->
    <div style= "display: block; margin-bottom: 15px;"></div>

    <div class="section-center">
        <!-- navbar elements -->
        <nav class="admin-navbar">
            <ul id="ul">
                <li><a href="/admin-side/authorized/set-texts">SET SYSTEM TEXTS</a></li>
                <li><a href="/admin-side/authorized/user-management">USER MANAGEMENT</a></li>
                <li><a href="/admin-side/authorized/bo-management">BACKOFFICE MANAGEMENT</a></li>
            </ul>
        </nav>
        <h1 class="heading"> EDIT PASSWORD </h1>
    </div>
    
    <!-- space -->
    <div style= "display: inline-block; margin-bottom: 60px;"></div>

    <!-- edit password -->
    <main class="section-center login-form">
        
        <!-- alert message -->
        <div class="alert-message" th:if="${passwordIncorrect == true}">
            Incorrect password, 1 chance left
        </div>
        <!-- alert message -->
        <div class="alert-message" th:if="${confirmFailed == true}">
            Confirmed password doesnt match the new password
        </div>
        
        <form method="POST" th:action="@{/admin-side/authorized/editPassword}" th:object="${admin}">
            <p class="form-text">Password</p>
            <input type="password" name="oldPassword" th:field="*{oldPassword}">
            <p class="form-text">New Password</p>
            <input type="password" placeholder="Must have at least 8 characters" name="newPassword" th:field="*{password}">
            <p class="form-text">Confirm Password</p>
            <input type="password" name="confirmPassword" th:field="*{confirmPassword}"> <br><br><br>

            <!-- save button (submit = redirect to dashboard) -->
            <div>
                <input type="submit" value="EDIT PASSWORD" class="button">
            </div>

            <!-- space -->
            <div style= "display: block; margin-bottom: 15px;"></div>
            
            <!-- cancel button -->
            <a href="/admin-side/authorized/dashboard"><u>Cancel</u></a>
        </form>
    </main>
    
    <!-- space -->
    <div style= "display: block; margin-bottom: 50px;"></div>

    <footer>
        <a href="/admin-side/authorized/dashboard"><img src="/images/dondiablologo.png" alt="Logo Don Diablo" width="90"></a>
    </footer>
       
</body>
</html>