<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Set System Texts</title>
   <link rel="stylesheet" href="/bo/bo-style.css">
   <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <!-- HeaderLogo -->
        <div class="text-logo">
            <img src="/Images/hexagonlogo.png" height="20" alt="HEXAGON">
        </div>

        <!-- navigation -->
        <nav class="homepage-navbar">
            <ul id="ul">
                <li><a href="https://shop.dondiablo.com/collections/hexagon">SET SYSTEM TEXTS</a></li>
                <li><a href="/demodrop">USER MANAGEMENT</a></li>
                <li><a href="https://www.hexagonhq.com/wallpapers">BACKOFFICE MANAGEMENT</a></li>
            </ul>
        </nav>

        <!-- Heading -->
        <h1 class="heading">SET SYSTEM TEXTS</h1>
    </header>

    <main>
        <!-- Pending Message -->
        <div>
            <p class="roboto-medium-16-lightgray">Pending message</p>
            <form action="/pendingMessage">
                <textarea name="p endingMessage" th:text>th: Your Demo is being is currently waiting to be reviewed. Well notify you as soon as we've reviewed your demo th:</textarea>
                <input type="submit" value="Save" class="system-texts-save-button">
            </form>            
        </div>

        <!-- Succes Message -->
        <div>
            <p class="roboto-medium-16-lightgray">Succes message</p>
            <form action="/succesMessage">
                <textarea name="succesMessage" th:text>th: We have reviewed your demo and we want to let you know that we've forwarded your demo to Don Diablo.
We'll send you an email about the further progress of the review.
Greetings
Team Hexagon th:</textarea>
                <input type="submit" value="Save" class="system-texts-save-button">
            </form>            
        </div>

        <!-- Reject Message -->
        <div>
            <p class="roboto-medium-16-lightgray">Reject message</p>
            <form action="/rejectMessage">
                <textarea name="rejectMessage" th:text>th: Your Demo is being is currently waiting to be reviewed. Well notify you as soon as we've reviewed your demo</textarea>
                <input type="submit" value="Save" class="system-texts-save-button">
            </form>            
        </div>
    </main>

    <!-- logout -->
    <div class="top-right-container">
        <p>ADMIN</p>
        <div class="underlined-text">
            <a href="/bo/login.html"><u>Logout</u></a>
        </div>
    </div>

    <footer>
            <a href="/bo/a_dashboard.html"><img src="/Images/dondiablologo.png" alt="Logo Don Diablo" width="72"></a>
    </footer>
</body>
</html>