<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Handled List</title>
    <link rel="stylesheet" href="/css/bo-style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
</head>
<body>
    <header class="section-center">
        <!-- logout -->
        <div class="upper-corner">
            <p th:text style="display: inline;">Joris Dobbelaar &ensp;</p>
            <a href=bo/login.html"><u>Logout</u></a>
        </div>
        <!-- headerLogo -->
        <div class="">
            <img src="/images/hexagonlogo.png" height="20" alt="HEXAGON">
        </div>
    
    </header>

    <!-- space -->
    <div style= "display: block; margin-bottom: 15px;"></div>

    <div class="section-center">
        <!-- navbar elements -->
        <nav class="homepage-navbar ">
            <ul id="ul">
                <li><a href=bo/handled-list.html"style="color: #707070;">HANLED DEMOS</a></li>
                <li><a href=bo/review-list.html">REVIEW DEMOS</a></li>
                <li><a href=bo/sent-list.html">SENT DEMOS</a></li>
            </ul>
        </nav>
    </div>

    <!-- space -->
    <div style= "display: block; margin-bottom: 50px;"></div>

    <!-- todo -->
    <h1 class="heading section-center">HANDLED: <span class="heading" th:text>(15)</span></h1>

    <!-- space -->
    <div style= "display: block; margin-bottom: 100px;"></div>

    <main class="section-center">
        <!-- quick scroll -->
        <!-- <img id="scroll" class="scroll" src="/images/anchor_scroll.png" alt="quick scroll" width="25"> -->
        
        <!-- blocks of demos -->
        <div th:each="demo : ${demos}">
            <div class="list-of-demos">
                <a href=""> <span>ARTIST NAME</span> - <span>TITLE DEMO</span> <span class="allign right">DATE/2020</span></a>
            </div>
            <div class="list-of-demos">
                <a href=""> <span>ARTIST NAME</span> - <span>TITLE DEMO</span> <span class="allign right">DATE/2020</span></a>
            </div>
            <div class="list-of-demos">
                <a href=""> <span>ARTIST NAME</span> - <span>TITLE DEMO</span> <span class="allign right">DATE/2020</span></a>
            </div>
        </div>

        <!-- space -->
        <div style= "display: block; margin-bottom: 50px;"></div>
    </main>

    <!-- space -->
    <div style= "display: block; margin-bottom: 100px;"></div>

    <footer class="section-center">
        <a href=bo/dashboard.html">
            <img src="/images/dondiablologo.png" alt="Logo Don Diablo" width="90">
        </a>
    </footer>

    <!-- space -->
    <div style= "display: block; margin-top: 50px;"></div>
    
</body>
</html>