<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Handled List</title>
    <link rel="stylesheet" href="/css/bo-style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
</head>
<body>
<header class="section-center">
    <!-- logout -->
    <div class="upper-corner">
        <p  style="display: inline;" >Joris Dobbelaar &ensp;</p>
        <a href="bo/login"><u>Logout</u></a>
    </div>
    <!-- headerLogo -->
    <div class="">
        <a href="/bo-side/authorized/dashboard">
            <img src="/images/hexagonlogo.png" height="20" alt="HEXAGON"/>
        </a>
    </div>

</header>

<!-- space -->
<div style= "display: block; margin-bottom: 15px;"></div>

<div class="section-center">
    <!-- navbar elements -->
    <nav class="homepage-navbar ">
        <ul id="ul">
            <li><a href="handled-list" style="color:#707070;">HANDLED DEMOS</a></li>
            <li><a href="review-list">REVIEW DEMOS</a></li>
            <li><a href="sent-list">SENT DEMOS</a></li>
        </ul>
    </nav>
</div>

<!-- space -->
<div style= "display: block; margin-bottom: 50px;"></div>

<!-- size of todos -->
<h1 class="heading section-center">HANDLED: <span class="heading" th:text="${demos.size()}">(15)</span></h1>

<!-- space -->
<div style= "display: block; margin-bottom: 100px;"></div>

<main class="section-center">
    <!-- quick scroll -->
    <!-- <img id="scroll" class="scroll" src="/images/anchor_scroll.png" alt="quick scroll" width="25"> -->

    <!-- blocks of demos -->
    <div th:each="demo: ${demos}">
        <div class="list-of-demos" th:style="${demo.state.stateName == 'Sent'} ? 'background-color:rgba(111, 255, 183, 0.616); color:white;'">
            <a th:href="@{'/bo-side/authorized/handled-mode/' + ${demo.id}}" >
                <span style="text-transform: uppercase;" th:text="${demo.user.artistName}">ARTIST NAME</span> |
                <span style="text-transform: capitalize;" th:text="${demo.title} + ' | '">Title Demo</span>
                <span > <b>Joris Dobbelaar</b></span></a>
        </div>
    </div>

    <!-- space -->
    <div style= "display: block; margin-bottom: 50px;"></div>
</main>

<!-- space -->
<div style= "display: block; margin-bottom: 100px;"></div>

<footer class="section-center">
    <a href="/bo-side/authorized/dashboard">
        <img src="/images/dondiablologo.png" alt="Logo Don Diablo" width="90">
    </a>
</footer>

<!-- space -->
<div style= "display: block; margin-top: 50px;"></div>

</body>
</html>