<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Backoffice Login</title>
    <link rel="stylesheet" href="/css/bo-style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <!-- HeaderLogo -->
    <div class="text-logo">
        <img src="/images/hexagonlogo.png" height="20" alt="HEXAGON">
    </div>
    <h1 class="heading">BACK OFFICE</h1>
</header>

<!-- space -->
<div style= "display: inline-block; margin-bottom: 100px;"></div>

<main class="section-center login-form">
    <!-- alert message -->
    <!-- <div class="alert-danger" th:if="${param.error != null}">
        Invalid username or password.
    </div> -->

    <!-- login form -->
    <form method="POST" role="form" th:action="@{/bo-side/login}" >
        <p style="color: white; background-color: #2e3951; text-align: center" th:if="${param.error != null}">Invalid Username or password</p>
        <p style="color: white; background-color: #2e3951; text-align: center" th:if="${param.logout != null}">You have been logged out</p>
        <p>Username</p>
        <input type="text" placeholder="Email Address" name="email">
        <p>Password</p>
        <input type="password" name="password"> <br>

        <!-- space -->
        <div style= "display: inline-block; margin-bottom: 60px;"></div>

        <input type="submit" value="Login" class="button">
    </form>
</main>

<!-- space -->
<div style= "display: inline-block; margin-bottom: 100px;"></div>

<footer>
    <a href="/bo-side/authorized/dashboard">
        <img src="/images/dondiablologo.png" alt="Logo Don Diablo" width="90">
    </a>
</footer>

<!-- space -->
<div style= "display: inline-block; margin-top: 40px;"></div>
</body>
</html>