/* inputfields */
input{
    display: block;
}

/* input[type=password], [type=text], textarea{
    width: 100%;
    padding: 8px 20px;
    box-sizing: border-box;
} */

input[type=checkbox] {
    display: inline;
}

/* popups */
/* .popup {visibility: hidden;} */


/* ------------------------------------------ */

/* HEADER */
/* appearance */
a{
text-decoration: none;
}
/* color */
body, a {
    background-color: black;
    color: white;
}

a {
    display: block;
}
/* Positioning*/
.social-media-icons a{
    display: inline;
}

