body{ 
    font-family: 'Roboto', sans-serif;

    background-color: black;
    color: white;
}

.section-center{
    display: block;
    margin: 20px auto;
    width: 275px;
    padding: 0;

}

/* inputfields */
input{
    display: block;
}

input[type=checkbox] {
    display: inline;
}

input[type=password], [type=text]{
    width: 275px;
    height: 25px;
    padding: 8px 20px;
    box-sizing: border-box;
    text-align: center;
}

textarea{
    resize: none;
    width: 275px;
    height: 175px;
    padding: 8px 20px;
    box-sizing: border-box;
    text-align: center;
}


/* popups */
/* .popup {visibility: hidden;} */


/* texts */
.heading{
    font-weight: lighter;
}
a{
    text-decoration: none;
    display: inline;
    color: white;
}
.social-media-icons{
    display: inline;
}

/* Responsive Navigation */
.homepage-navbar{
    width: 100%;    /* keeps the main box stratched accros 100% of the screen & therefore centered */
    background-color: blue;
}

.homepage-navbar > ul{
    width: 80%;     /* acts as a padding of 80% inside the div */
    background-color: brown;
    text-align: center;
    /* margin: 0;   /*margin has to stay off for desktop-view center*/
}

.homepage-navbar > ul li{
    list-style: none;
    display: inline-block;
    padding: .75em 1em;
}

.homepage-navbar > ul li a{
    font-family: Roboto;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1em;
    color: rgb(255,255,255,.6);
}

.homepage-navbar ul li a:hover{
    color: rgb(255, 255, 255);
    transition: color .2s 0s ease-in-out;
    outline: none;
}

.hamburger-menu{
    width: 100%;
    background: black; /**/
    text-align: left;
    box-sizing: border-box;
    display: none;
}
@media (max-width:768px){
    .hamburger-menu{
        display: block;
    }

    .homepage-navbar > ul{
        width: 100%; 
        display: none;
    }

    .homepage-navbar ul li{
        display: block;
        text-align: center;
    }
}


/* Responsive Registery */
.register-link-visibility{
    display: none;
}

.responsive-register-form-container{
    display: block;
}
@media (max-width:768px){
    .register-link-visibility{
        display: block;
    }

    .responsive-register-form-container{
        display: none;
    }
}


/* special stuff */

